/* basic setting */
$lightMode-background-color: #e5e5e5;
$lightMode-text-color: #999999;
$darkMode-bg-darkgray: #333333;
$darkMode-bg-black: #121212;
$darkMode-body-color: #ffffff66;
$darkMode-footer-color: #ffffff99;
$priamry-btn-color: #f67599;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$pc-media: 1320px;
$pcs-media: 1319px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 376px;
$phones-media: 375px;
